AppComponent
<br />
<!-- *ngIf is Structure Directive : chi thi ket cau -->

<app-hello *ngIf="user.age >= 18; else under18" [name]="user.name"></app-hello>
<!-- <ng-template [ngIf]="user.age >=18" [ngIfElse]="under18" >

</ng-template> -->

<ng-template #under18>
  <div>
    You are too young to see this content !
  </div>
</ng-template>

<br />
<button (click)="user.age = user.age - 1">-</button>
Age: {{user.age}}
<button (click)="user.age = user.age + 1 ">+</button>
<br />
{{name}}
<!--{{expression}} String Interpolation;sẽ gọi toString() để show. -->
<!-- Data Binding -->
<p>{{user.name}}</p>
<p>{{user.age}}</p>

<input [type]="inputType" [value]="user.name">
<!-- Event Binding -->
<button type="button" (click)="handler($event)">Click me !</button>

<br /><br />
<input type="text" [ngModel]="name" (ngModelChange)="name = $event" />
<!-- 2 Way Data Binding -->
<input type="text" [(ngModel)]="name" />
